source ../.envrc

set -euo pipefail

TF_WORKSPACE=default
export TF_WORKSPACE

tfrootdir="$(pwd)/terraform"

TF_DATA_DIR="${tfrootdir}/.terraform"
export TF_DATA_DIR

#TF_CLI_ARGS="-chdir=${tfrootdir}"
#export TF_CLI_ARGS

TF_CLI_ARGS_plan="-out=tfplan"
export TF_CLI_ARGS_plan

export TF_CLI_ARGS_init="-backend-config='encrypt=true' -backend-config='key=chizmw/infra-arcane-scripts.net-436158765452-infra-arcane-net.tfstate' -backend-config='bucket=436158765452-terraform-state'"
