source /Users/chisel/development/github-as-chizmw/.envrc

export TF_CLI_ARGS_init="-backend-config='encrypt=true' -backend-config='key=chizmw/infra-arcane-scripts.net-436158765452-infra-arcane.tfstate' -backend-config='bucket=436158765452-terraform-state'"
